body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav li a {
  text-decoration: none;
  margin-right: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-item p {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

.incomplete {
  color: green;
  text-decoration: none;
}

.edit {
  cursor: pointer;
}
